extends layouts/default

block content
    //- Oh yeah, sweet starter template!
    .starter-template.main-content
        h1 #{__('Hello')}
        p.lead
            | Use this document as a way to quickly start any new project.
            br
            | All you get is this text and a mostly barebones HTML document.
        btn.btn.btn-default.btn-lg #{__('Ok')}